

body {
position: relative;
width: 98%;
height: 96%;
margin: 0.8em auto;
background-color: #221D39;
text-align: center;
border-radius: 4px;

}

html {
	width: 100%;
height: 100%;
background-color: #B74040;
}

.main{
	width:600px;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
}

.title{
	font-size: 74px;
	color: white;
	font: 400 74px/0.5 'Courgette', Helvetica, sans-serif;
	padding-bottom: 20px;
}

.itemInput {
margin-top: 30px;
width: 340px;
height: 32px;
font-size: 25px;
border-radius: 2px;
outline: none;
}
.addButton {	
width: 164px;
height: 40px;
font-size: 25px;
border-radius: 2px;
border: 1px solid black;
outline: none;
background: rgb(59,103,158);
}

.list{
	list-style-type: none;
font-size: 25px;
text-align: left;
margin-top: 20px;
}

.list li {
	color: white;
border: 1px solid white;
margin: 10px 5px;
border-radius: 5px;
padding-left: 20px;
padding-bottom: 5px;
width: 484px;
}

.striked {
	text-decoration:line-through;
	font-style: italic;
	font-size: 22px;
}

.instructions {
	margin-top: 20px;
	font: 400 24px/0.5 'Satisfy', Helvetica, sans-serif;
	color: #B74040;
	padding-top: 12px;
}

.historyInstructions, .todoList{
	font: 400 24px/0.5 'Average', Helvetica, sans-serif;
	padding-top: 12px;
	color: #6753FF;
}

.todoList{
	padding-top: 30px;
}

.historyList{
	list-style-type: none;
}

.historyList li{
	color: green;
	text-align: left;
font-size: 20px;
font-style: italic;
padding-left: 10px;
}